button {
    border: none;
    background-color: rgb(80, 60, 209);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add soft outline */

  }
  
  button:hover {
    background-color: rgba(98, 25, 137, 0.627);
  }
  
  .equals {
    grid-column: 4 / span 2;
    background-color: rgba(173, 182, 94, 0.853);
  }
  
  .equals:hover {
    background-color: rgba(99, 174, 23, 0.908);
  }