.wrapper {
    width: 400px;
    height: 540px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ef8fe9;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}